In [21]:
import pandas as pd
pd.set_option('display.max_columns',None) # 전체 열 출력하기
pd.set_option('display.max_rows',None) # 전체 행 출력하기

In [1]:
import os
import librosa
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.io.wavfile
import sounddevice as sd
from ast import literal_eval
import IPython.display as ipd
from matplotlib import rcParams
import matplotlib.pyplot as plt
from IPython.display import Audio
# from IPython.core.display import display
%matplotlib inline

import pandas as pd
pd.set_option('display.max_colwidth', None)

teq = pd.read_csv("C:/Users/Ahn/projects/upsing/data/teq.csv",converters={"sec":literal_eval}) # sec이 string으로 인식돼서 converters랑 literal_eval이 필요했음

voc = pd.read_csv("C:/Users/Ahn/projects/upsing/data/voc.csv",converters={"sec":literal_eval}) # sec이 string으로 인식돼서 converters랑 literal_eval이 필요했음

In [63]:
voc.song_name.unique()

array(['Christina_Perri_A_Thousand_Years_2',
       'christina_perri_a_thousand_years', 'Feel_My_Rhythm', 'Honesty',
       'If_You', 'Letitgo', 'Love_Yourself', 'OMG', 'Rolling_in_the_Deep',
       'Snowman', 'Thinking_Out_Loud', 'Thirsty', 'What_Do_I_Call_You',
       'When_I_was_your_man', '기다리다', '꽃', '끝', '눈코입', '듣는편지', '봄여름가을겨울',
       '사랑했잖아', '스물다섯스물하나', '아로하', '예뻤어', '잠이오질않네요', '처음부터너와나', '첫사랑',
       '초록빛', '취기를빌려', 'I_Love_You_3000'], dtype=object)

In [65]:
voc_test = ['끝', 'If_You', 'Thinking_Out_Loud', 'Honesty']

In [68]:
voc[voc['song_name'].isin(voc_test)].to_csv("C:/Users/Ahn/projects/upsing/data/voc_test.csv", index=False)

In [69]:
pd.read_csv("C:/Users/Ahn/projects/upsing/data/voc_train.csv").groupby('label').count()

        sec  song_name
label
가성      191        191
믹스드보이스  172        172
비성       85         85
흉성       95         95

In [70]:
voc.groupby('label').count()

        sec  song_name
label
가성      227        227
믹스드보이스  201        201
비성      102        102
흉성      112        112

In [71]:
pd.read_csv("C:/Users/Ahn/projects/upsing/data/voc_test.csv").groupby('label').count()

        sec  song_name
label
가성       36         36
믹스드보이스   29         29
비성       17         17
흉성       17         17